# Ignore node_modules directory
node_modules/

# Ignore environment variables
.env

# Ignore npm debug logs
npm-debug.log*

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore build directories
build/
dist/

# Ignore IDE specific files
.vscode/
.idea/

# Ignore package-lock.json (if you want to, though it's generally recommended to keep it)
# package-lock.json

# Ignore local development files
.local
